html,
body,
div,
span,
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

a {
  color: white;
  text-decoration: none;
}

@font-face {
  font-family: "Parkway Lush";
  src: url("./resources/fonts/parkway-lush.ttf") format("truetype");
}

html,
body {
  height: 100%;
  width: 100%;
}

h1 {
  color: red;
}

body {
  background-image: url("./resources/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
  flex-direction: row;
  padding: 40px 20px 30px 40px;
  flex: 1;
}

article {
  text-align: left;
  width: 270px;
}

#paragraph-first {
  color: #b5dac7;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 10px;
}

#paragraph-first {
  font-size: 19px;
  line-height: 21px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-image: url("./resources/bandeau-desktop.svg");
  /** background-color: rgba(255, 255, 255, 0.8); **/
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 81px;
  position: relative;
}

footer small {
  font-size: 10px;
  transform: rotate(180deg);
  display: block;
  position: absolute;
  left: 10px;
  top: -200px;
  writing-mode: tb-rl;
}

footer > div {
  width: 50%;
}

#logo-wrapper {
  flex: 1;
}

#logo-wrapper img {
  height: 100%;
  vertical-align: middle;
  margin-top: -5%;
  width: 100%;
  max-width: 740px;
}

aside {
  align-self: flex-end;
  width: 150px;
}

aside p {
  font-family: "Parkway Lush";
  font-size: 35px;
  transform: rotate(-15deg);
}

nav a {
  display: block;
  margin-top: 5px;
}

nav a:first-child {
  margin-top: 0;
}

#partners {
  padding: 0 10px;
}

#partners img {
  margin-right: 10px;
}

#partners img:last-child {
  margin-right: 0;
}

.contact p {
  color: #b5dac7;
  font-size: 16px;
}

.contact > div {
  display: inline-block;
}

address {
  font-style: normal;
  font-weight: bold;
}

address a:first-child {
  float: left;
  margin-left: 5px;
}

address a:last-child {
  float: right;
  margin-right: 5px;
}

.dn-ns {
  display: none;
}

@media only screen and (max-width: 1084px) {
  main {
    flex-direction: column;
    padding: 10px;
  }

  header {
    display: none;
  }

  .dn-ns {
    display: block;
  }
}
